body{
	font-family: Arial, Helvetica, sans-serif;
	color: #1B1112;
}
h1{
	font-size: 24px;
	margin-top: 0;
}
h2{
	font-size: 16px;
	margin: 5px 0px 5px 10px;
}
h3{
	font-size: 22px;
	margin-top: 0;
	text-align: center;
}
#main{
	-moz-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
	background: #4FDE43;
	width: 800px;
	overflow: hidden;
}
	#left_content{
		margin: 20px;
		width: 430px;
		overflow: hidden;
		float: left;
	}
		#description{
			margin-left: 10px;
		}
		#gmap, #address{
			overflow: hidden;
			padding: 0px 0px 20px 0px;
		}
		#address div{
			margin-left: 20px;
		}
		#property_content{
			display: none;
		}
		#zoning_content{
			display: none;
		}
	#right_content{
		float: right;
		width: 300px;
		margin: 15px;
	}
		#contact_form{
			-moz-border-radius: 10px;
			border-radius: 10px;
			width: 300px;
			background: #3EB334;
			height: 500px;
			overflow: hidden;
		}
			#contact_form form{
				margin: 20px;
				overflow: hidden;
			}
				#contact_form p.note{
					font-size: 12px;
				}
				#contact_form input[type="text"]{
					display: block;
					margin: 0px auto 20px auto;
					height: 30px;
					font-size: 18px;
					color: #CCCCCC;
					border: 1px solid #666;
					padding: 5px;
				}
#menu_bar_wrapper{
	-moz-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
	background: #138A29;
	width: 800px;
	height: 40px;
}
	#menu_bar_content{
		margin-left: 15px;
	}
		#menu_bar_content .menu_bar_link{
			float: left;
			padding: 11px 15px 10px 15px;
			cursor: pointer;
		}
#page{
	width: 800px;
	height: 900px;
	margin: auto;
}
	#page_title{
		font-size: 30px;
		font-weight: bold;
		margin: 20px 10px;
	}
